<?xml version="1.0" ?>

<launch>

<!--mapping-->
<node pkg="map_loader" type="map_loader" name="map_loader" output="screen"/>
  <param name="ROTATE_IMG" value="0" />
  <param name="MAX_X" value="876.561" />
  <param name="MAX_Y" value="663.862" />
  <param name="MIN_X" value="-92.0406" />
  <param name="MIN_Y" value="-500.863" />
  <param name="pointmap" value="/home/idriver/Documents/THU_0520/src/hmi/ivhdmap/resource/thu2/point_map/1.pcd" />
  <param name="maps" value="/home/idriver/Documents/THU_0520/src/hmi/ivhdmap/resource/thu2/point_map/maps/" />
  <param name="map_length" value="30" />
  <param name="map_bit" value="4" />
</launch>
